<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083957311734-73jck9elsaf3bniml4uqn5rr8vc0qtsk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083957311734-73jck9elsaf3bniml4uqn5rr8vc0qtsk</string>
	<key>API_KEY</key>
	<string>AIzaSyC0niUOraVLWaHFmngUrJqwNYadSZhzzdU</string>
	<key>GCM_SENDER_ID</key>
	<string>1083957311734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team13.CampusConnect</string>
	<key>PROJECT_ID</key>
	<string>profile-58ddf</string>
	<key>STORAGE_BUCKET</key>
	<string>profile-58ddf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083957311734:ios:30426d31c835e31cff14d7</string>
	<key>DATABASE_URL</key>
	<string>https://profile-58ddf-default-rtdb.firebaseio.com</string>
</dict>
</plist>